// Default parameters that can be overridden
params {
    // Default directory for input reads
    reads = "$projectDir/input"
    // Default output directory
    output = "$projectDir/output"

    // Get host OS type
    os = System.properties['os.name']

    // Default assembler
    assembler = "shovill"
    // Default directory for SPAdes 
    spades_local = "$projectDir/bin/spades"
    // Default directory for Unicycler
    unicycler_local = "$projectDir/bin/unicycler"

    // Default git and local directory for SeroBA 
    seroba_remote = "https://github.com/sanger-pathogens/seroba.git"
    seroba_local = "$projectDir/bin/seroba"

    // Default link and local directory for Kraken2 Database, and usage of memory mapping
    kraken2_db_remote = "https://genome-idx.s3.amazonaws.com/kraken/k2_standard_08gb_20220926.tar.gz"
    kraken2_db_local = "$projectDir/bin/kraken"
    kraken2_memory_mapping = true

    // Default referece genome assembly path and local directory for its BWA database 
    ref_genome = "$projectDir/data/Streptococcus_pneumoniae_ATCC_700669_v1.fa"
    ref_genome_bwa_db_local =  "$projectDir/bin/bwa_ref_db"

    // Default links for PopPUNK Database and External Clusters, and local directory for both
    poppunk_db_remote = "https://gps-project.cog.sanger.ac.uk/GPS_v6.tar.gz"
    poppunk_ext_clusters_remote = "https://www.pneumogen.net/gps/GPS_v6_external_clusters.csv"
    poppunk_db_local = "$projectDir/bin/poppunk"
}

// Process specific settings
process {
    withName:LINEAGE {
        container = 'staphb/poppunk:2.5.0'
        cpus = Runtime.runtime.availableProcessors()
    }
}

// Enable the use of Docker container
docker {
    enabled = true
    runOptions = "-v $HOME:$HOME"
}
