// Default parameters that can be overridden
params {
    // Show help message
    help = false
    // Alternative workflow for initialisation only
    init = false
    // Alternative workflow for getting versions of pipeline and tools
    version = false

    // Default directory for input reads
    reads = "$projectDir/input"
    // Default output directory
    output = "$projectDir/output"

    // Default assembler
    assembler = "shovill"

    // Default git repository and local directory, and KMC kmer size for SeroBA 
    seroba_remote = "https://github.com/sanger-pathogens/seroba.git"
    seroba_local = "$projectDir/databases/seroba"
    seroba_kmer = 71

    // Default link and local directory for Kraken2 Database, and usage of memory mapping
    kraken2_db_remote = "https://genome-idx.s3.amazonaws.com/kraken/k2_standard_08gb_20220926.tar.gz"
    kraken2_db_local = "$projectDir/databases/kraken"
    kraken2_memory_mapping = true

    // Default referece genome assembly path and local directory for its BWA database 
    ref_genome = "$projectDir/data/ATCC_700669_v1.fa"
    ref_genome_bwa_db_local =  "$projectDir/databases/bwa_ref_db"

    // Default links for PopPUNK Database and External Clusters, and local directory for both
    poppunk_db_remote = "https://gps-project.cog.sanger.ac.uk/GPS_v6.tar.gz"
    poppunk_ext_remote = "https://www.pneumogen.net/gps/GPS_v6_external_clusters.csv"
    poppunk_local = "$projectDir/databases/poppunk"

    // Default values for QC
    spneumo_percentage = 60.00
    ref_coverage = 60.00
    het_snp_site = 220
    contigs = 500
    length_low = 1900000
    length_high = 2300000
    depth = 20.00
}

// Process specific settings
process {
    withLabel: bash_container {
        container = 'wbitt/network-multitool:69aa4d5'
    }
    withLabel: git_container{
        container = 'bitnami/git:2.39.0'
    }
    withLabel: python_container {
        container = 'python:3.11.1-bullseye'
    }
    withLabel: fastp_container {
        container = 'staphb/fastp:0.23.2'
    }
    withLabel: unicycler_container {
        container = 'staphb/unicycler:0.5.0'
    }
    withLabel: shovill_container {
        container = 'staphb/shovill:1.1.0-2022Dec'
    }
    withLabel: quast_container {
        container = 'staphb/quast:5.0.2'
    }
    withLabel: bwa_container {
        container = 'staphb/bwa:0.7.17'
    }
    withLabel: samtools_container {
        container = 'staphb/samtools:1.16'
    }
    withLabel: bcftools_container {
        container = 'staphb/bcftools:1.16'
    }
    withLabel: poppunk_container {
        container = 'staphb/poppunk:2.6.0'
    }
    withLabel: spn_pbp_amr_container {
        container = 'harryhungch/spn-pbp-amr:23.01.16'
    }
    withLabel: amrsearch_container {
        container = 'harryhungch/amrsearch:23.02.23'
    }
    withLabel: mlst_container {
        container = 'staphb/mlst:2.23.0'
    }
    withLabel: kraken2_container {
        container = 'staphb/kraken2:2.1.2-no-db'
    }
    withLabel: seroba_container {
        container = 'staphb/seroba:1.0.2'
        cpus = 1
        memory = {1.GB * task.attempt}
        maxRetries = 5
    }
}

profiles {

    standard {
        process.executor = 'local'
        docker {
            enabled = true
            runOptions = '-u $(id -u):$(id -g)'
        }
    }

    farm {
        process.executor = 'lsf'
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "$projectDir/singularity_cache"
        }
    }
}
